From: {{mail_from}}
To: {{mail_to}}
Cc: {{mail_cc}}
Bcc: {{mail_bcc}}
Subject: {{mail_subject}}
MIME-Version: 1.0
Content-type: multipart/mixed; boundary={{mail_boundary}}
Content-Transfer-Encoding: 7bit
--{{mail_boundary}}
Content-type: text/plain; charset=iso-2022-jp
Content-Transfer-Encoding: 7bit

https://docs.google.com/document/d/1u6b0BBJso-wbdOypc7vVJ59xg_Cs6R3XtAJ4X4T21kU
--{{mail_boundary}}
Content-type: text/plain; charset=UTF-8
Content-Disposition: attachment;
 filename=grasys_vpn.conf
--{{mail_attachment}}
